@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,300&display=swap');


:root{

    --pading-container: 100px 0;
    --color-title: #001A49;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.container{
    width: 95%;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--pading-container);
}

.container2{
    width: 95%;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #999494;

    
}

.contact{
    padding-top: 50px;
    padding-bottom: 25px;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0303038c 0%, #0505058c 100%), url(img.png);
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 100% 100%, 80% 95%, 50% 95%, 20% 95%, 0% 100%, 0% 35%, 0 0);
    z-index: -1;

}

/*nav*/
.nav
{
    --pading-container:0;
    height: 100px;
    display: flex;
    align-items: center;
}

.nav__title{
    font-weight: 300;
    height: 100px;  /*PORCENTAJE DEL LOGO EMPRESA*/
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items{
    list-style: none;
}
.nav__links{
    color: #fff;
    text-decoration: none;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img{
    display: block;
    width: 30px;
}

.nav__close{
    display: var(--show, none);
}

/*hero container*/

.hero__container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
    
}

.hero__title{
    font-size: 3rem;
}

.hero_paragraph{
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    background-color: #2091f9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;

}

/*about*/

.about{

    text-align: center;
}

.subtitle{
    color: #2C2C2C;
    font-size: 2rem;
    margin-bottom: 5px;
}

.subtitle2{
    color: #327ECC;
    font-size: 2rem;
    margin-bottom: 25px;
}

.mdownload{
    padding-top: 50px;
    padding-bottom: 25px;
    background-color: #2C2C2C;
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow: hidden;
    text-align: center;
}

.subtitle3{
    color: #327ECC;
    font-size: 2rem;
    margin-bottom: 25px;
    text-align: center;
}

.about__paragraph{
    line-height: 1.7;
    color: white;
}

.about_paragraph2{
    color: white;
}

.about__title2{
    color: white;
}

.about__main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto) );

}
.about__icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
    
}
.about__team4{
    text-align: center;
}


.about__icon{
    width: 40px;
}

/* knowledge*/

.knowledge{
    /*background-color: #000000; #e5e5f7;*/
    background-color: #2C2C2C;
    padding-top: 50px;
    padding-bottom: 25px;
    /*background-image:  radial-gradient(#454F86 0.5px, transparent 0.5px), radial-gradient(#454F86 0.5px, #e5e5f7 0.5px);*/
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow: hidden;
    text-align: justify;
}

.knowledge__paragraph_white{
    color: white;
    max-width: 700px;
}

.knowledge__paragraph_black{
    color: black;
    max-width: 700px;
}

.knowledge2{
    background-color: #E3E3E3;
    padding-top: 50px;
    padding-bottom: 25px;
    /*background-image:  radial-gradient(#454F86 0.5px, transparent 0.5px), radial-gradient(#454F86 0.5px, #e5e5f7 0.5px);*/
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow: hidden;
    text-align: justify;
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge__picture{
    max-width: 1300px;
}

.knowledge_paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}
.knowledge__img{
    width: 100%;
    display: block;
}

.button_class{
    display: flex;
    justify-content: center;
    /*align-items: flex-end;*/
    font-size: x-large;
    border-bottom-color: #2C2C2C;

}